<html>
  <body>
    <div class="h-full max-w-5xl mx-auto align-middle text-center shadow-md rounded px-8 pt-6 pb-8 mb-4 bg-gradient-to-r  from-teal-300 via-blue-400 to-indigo-500">
      <div class="mb-4">
        <p class="text-4xl text-blick"> See you around!, <%= @user.email%>!</p>
      </div>
      <div class="mb-4">
        <hr>
      </div>
      <div class="mb-4">
        <%= link_to " Home ", root_url,class:"bg-gray-100 text-black font-bold py-2 px-4 rounded" %>
      </div>
    </div>
</html>