<div class="flex space-x-4 ...">
  <div class="max-w-md rounded overflow-hidden shadow-lg bg-gradient-to-r from-teal-300 via-blue-400 to-indigo-500">
  <img class="w-full" src="/assets/landscape.jpg" alt="bird">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 text-center">Can't Get Enough</div>
      <p class="text-gray-700 text-base">
        text here
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      
    </div>
  </div>
  <br>
  <div class="max-w-md rounded overflow-hidden shadow-lg bg-gradient-to-r from-teal-300 via-blue-400 to-indigo-500">
  <img class="w-full" src="/assets/book.jpg" alt="bird">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 text-center">Pure Bliss</div>
      <p class="text-gray-700 text-base">
        text here
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      
    </div>
  </div>
  <br>
  <div class="max-w-md rounded overflow-hidden shadow-lg bg-gradient-to-r from-teal-300 via-blue-400 to-indigo-500">
  <img class="w-full" src="/assets/lake.jpg" alt="bird">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 text-center">I'm In Heaven</div>
      <p class="text-gray-700 text-base">
        text here
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      
    </div>
  </div>
 </div>